@import url("https://fonts.googleapis.com/css?family=Archivo|Titillium+Web|Rubik");
@font-face {
  font-family: metrolink;
  src: url("fonts/PantographSans.ttf");
}

/*
* Add Styles for screens here!
* 1. Name class the same as the screen name - INCLUDE CAPITAL FIRST LETTER
* 2. Put your styles in!
* 3. Use the build-css or watch-css scripts to transpice to CSS.
*/

.Welcome {
  font-family: "Archivo";
  background: #1c92d2;
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  color: black;
}

.Members {
  font-family: "Archivo";
  background: #1c92d2;
  background: linear-gradient(to right, #f2fcfe, #1c92d2);
  color: black;
}

.Help {
  font-family: "Archivo";
  background: #1c92d2;
  background: linear-gradient(to right, #FFF000, #FFFFFF);
  color: black; }

.WiFi {
  background: #833ab4;
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: black;

  h3 {
    font-size: 6rem;
    font-family: "Titillium Web";
  }
}

.Food {
  background: #fe8c00;
  background: linear-gradient(to right, #f83600, #fee000);

  &__strong {
    color: #2a0845;
  }
}

.MMMM {
  background: #f7ff00;
  background: linear-gradient(to right, #db36a4, #f7ff00);
  color: black;
}

.Parrot {
  background: white;
  color: black;
}

.Recent {
  background: #ff00cc;
  background: linear-gradient(to right, #333399, #ff00cc);
  list-style: none;
}

.Time {
  border-top: 10px solid red;

  &__time {
    background: red;
    border-radius: 20px;
    display: block;
    font-size: 7rem;
    margin: 0 auto;
    padding: 10px;
    width: 400px;
  }

  &__date {
    color: #f66;
    border-radius: 20px;
    display: block;
    font-size: 5rem;
    margin: 0 auto;
    padding: 10px;
  }
}

.Metrolink {
  background: #333;
  color: #fed74c;
  font-family: "metrolink";
  font-weight: normal;

  &__platforms {
    display: flex;
    margin: 0 auto;
    width: 90%;
  }

  &__platform {
    background: #fed74c;
    border-radius: 5px;
    color: #333;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
  }

  &__trams {
    padding: 0;
  }

  &__tram {
    font-size: 3vw;
    list-style: none;
    margin: 0;
    text-align: left;
  }

  &__lastUpdated {
    font-size: 2vw;
    margin-top: 50px;
  }

  &__messageBoard {
    background: #fed74c;
    color: #333;
    border-top: 1px solid #333;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
  }
}

.Sportsball {
  background: #99c6e8;
  color: black;

  &__fixture {
    margin:0px auto;
    width:80%;
    font-size:45px;
    margin-bottom:10px;
    background:black;
    color:white;
    border-radius:10px;

    &:first-of-type{ 
      margin-bottom:60px;

      .Sportsball__time {
        font-size:60px;
      }

    }
  }

  &__time{
    float:left;
    width:100%;
    background-color:red;
    font-size:45px;
    border-radius:10px 10px 0px 0px;
  }

  
}
